<!DOCTYPE html>
<html>
<head>
    <title>PreCheck</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!--------------------------------------- NAV BAR STARTS -------------------------------------------->

<%= render partial: "layouts/partials/navbar" %>

<!--------------------------------------- NAV BAR ENDS -------------------------------------------->

<!--------------------------------------- PAGE CONTENT STARTS -------------------------------------------->
<div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <%= yield %>
    </div>
</div>
<!--------------------------------------- PAGE CONTENT ENDS -------------------------------------------->

<!--------------------------------------- FOOTER STARTS -------------------------------------------->

<!--------------------------------------- FOOTER ENDS -------------------------------------------->
</body>